.projectscontainer {
  background-color: #0a192f;
  padding-top: 8em;
  height: max-content;
  margin-bottom: -15rem;
}

.projectscont {
  display: flex;
  flex-direction: column;
  /* flex-wrap: wrap; */
  margin-top: 1rem;
  margin-left: 17rem;
  gap: 2rem;
}

.projectstitle {
  margin-left: 17rem;
  font-size: 54px;
  color: azure;
}

.projects {
  display: flex;
  flex-direction: row;
  height: 30em;
  width: 70em;
  padding: 1em;
  -webkit-animation: rotate-in-bl 0.6s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: rotate-in-bl 0.6s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

.btnanchor {
  text-decoration: none;
  color: #0a192f;
}

.projectimg {
  height: 24em;
  width: 30em;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.projecttitle {
  color: azure;
  margin-left: 20px;
  font-size: 38px;
}

.projectp {
  color: azure;
  margin-left: 20px;
}

.projectbtn {
  margin-left: 12rem;
  color: #0a192f;
  height: 3rem;
  width: 8rem;
  border-radius: 10px;
  margin-top: 2rem;
  font-size: larger;
  font-weight: 400;
}

/* .projectbtn {
  background: #fff; 
  color: #0a192f; 
  font-size: larger;
  font-weight: 400;
  margin-left: 12rem;
  margin-top: 2rem;
  border-radius: 10px;
  padding: 16px 20px;
  position: relative;
  z-index: 1;
  overflow: hidden;
  display: inline-block;
}

.projectbtn:hover {
  color: #fff; 
}

.projectbtn::after {
  content: "";
  background: rgba(252, 88, 43, 0.946);
  position: absolute;
  z-index: -1;
  padding: 16px 20px;
  display: block;
  top: 0;
  bottom: 0;
  left: 100%;
  right: -100%;
  -webkit-transition: all 0.35s;
  transition: all 0.35s;
}
.projectbtn:hover::after {
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  -webkit-transition: all 0.35s;
  transition: all 0.35s;
} */

.projectul {
  list-style-type: "➱";
  padding-left: 1rem;
}

/* smartphone */
/* @media (max-width: 500px) {
  .projectscontainer {
    width: 52rem;
    background-color: #0a192f;
  }
} */

/* tablet */
/* @media screen and (min-width: 501px) and (max-width: 850px) {
  .projectscontainer {
    width: 59rem;
    margin-top: -2px;
    padding-top: 10rem;
  }
} */
@media (max-width: 900px) {
  .projectscontainer {
    width: 86rem;
    margin-top: -15px;
  }
  .projects {
    width: 34rem;
    height: 56rem;
    margin-left: 128px;
    display: flex;
    flex-direction: column;
  }
}